.button {
  -fx-font-size: 50px;
  -fx-font-weight: bold;
  -fx-text-fill: #800000;
  -fx-border-color: #000000;
  -fx-border-width: 1px;
  -fx-border-style: solid;
}

.button:hover{
	-fx-background-color:blue;
}